@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin-left: 0;
  margin-right: 0;
}

html {
	background: white;
	font-family: 'roboto', sans-serif;
}

#header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
}

#img-div {
  width: 100%;
}

#header-img {
  margin-left: 50px;
}

#nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 500px;
  list-style: none;
  margin-right: 70px;
}

#nav-bar a {
  text-decoration: none;
  color: black;
}

#container {
  text-align: center;
  margin-top: 50px;
}

#sign-up, #features, #preview, #pricing, footer {
  margin-top: 100px;
}

#email {
  width: 300px;
  font-family: 'roboto', sans-serif;
  padding: 7px;
}

#password {
  width: 300px;
  padding: 7px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 150px;
  height: 30px;
  font-family: 'roboto', sans-serif;
  background: green;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.description {
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

.item {
  display: inline-block;
  width: 300px;
  padding-bottom: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  line-height: 1.5;
}

.item ul {
  list-style: none;
  padding-right: 40px;
}

.button {
  width: 100px;
  height: 30px;
  font-family: 'roboto', sans-serif;
  background: green;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
  list-style: none;
  margin-right: 80px;
}

footer a {
  text-decoration: none;
  color: black;
}

input:focus {
	box-shadow: 0px 0px 7px 0px rgba(0,26,255,1);
}

#submit:hover, .button:hover {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
}

.nav-link:hover, footer ul a:hover {
  font-weight: bold;
}

#header {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

@media (max-width: 600px) {
  #header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #nav-bar ul {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
  }
  #img-div {
    display: none;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}
